<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="مركز علمي تربوي بحثي مستقل يعنى بالقرآن الكريم و علومه والقراءات كما يهتم بالقضايا العلمية و الفكرية
">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/static/img/logo-2.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.2/dist/css/uikit-rtl.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/flatpickr.min.css">
    <link href="https://fonts.googleapis.com/css?family=Amiri&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: "Amiri";

        }

        .d-img {
            height: 264px !important;
            width: 451px !important;
        }
        p {
            font-weight: 570;
            font-size: 1.2rem;
        }
        .first{
            font-weight: 900;
            color: #000;
        }
        .nav-items_square {
            height: 11rem;
            width : 9rem;
            border: 1px solid black ;
            border-radius : 10px;
            background-color: transparent;
        }

        .nav-items_img {
            height: 10rem;
            width : 10rem; 
            display: block;
        }
        h2 {
            font-family: "Amiri";
            font-weight: bold;
            margin-top: 5rem;
        }
        nav div p {
            text-align: center;
            display: block;
            margin-top: 4rem;
        }
        .signature {
            margin-right: 19rem;
        }
        .grd-container {
            display: grid;
            grid-template-columns: 70% 30% ;
        }
        .sora {
            height: 100% !important;

        }

        .grd-container2{
            display: grid;
            grid-template-columns: 33% 34% 33%;
        }
        .nav-items_square{
            margin-left: 4rem;
        }
        @media print
        {
            .noprint {display:none;}
        }
        @media only screen and (min-width: 992px) {
            .nav-items_square{
                position: relative;
                left: 12rem;
            }
        }
    </style>
    <title></title>
</head>

<body>
    <div id="toRemove">
    <nav class="uk-navbar-container uk-margin" uk-navbar="mode:click">

        <div class="uk-navbar-right  uk-hidden@m uk-hidden@l">
            <a href="#offcanvas-usage " style="width: 3rem; height: 3rem;" uk-toggle>
                <img src="./static/img/menu.png" alt="">
            </a>
        </div>

        <div class="uk-navbar-right bar uk-visible@s">
            <ul class="uk-navbar-nav">
                <li> <a href="#">
                        <p class="uk-h4 uk-text-normal"> عن المركز </p>
                    </a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li> <a href="/structure"> الهيكل التنفيذي </a> </li>
                        </ul>
                    </div>
                </li>
                <li> <a href="#">
                        <p class="uk-h4 uk-text-normal"> البرامج </p>
                    </a>
                    <div class="uk-navbar-dropdown" style="width: 237px;">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li> <a href="/programme"> المنهاج التكويني </a> </li>
                            <li> <a href="/programs"> برنامج المرحلة التمهيدية <span>(2019/2020)</span></a> </li>
                            <li> <a href="/programs2">برنامج المرحلة التمهيدية <span>(2020/2021)</span></a> </li>
                        </ul>
                    </div>
                </li>
                <li> <a href="/courses">
                        <p class="uk-h4 uk-text-normal"> الدورات </p>
                    </a></li>
                <li> <a href="/announcement">
                        <p class="uk-h4 uk-text-normal"> الإعلانات </p>
                    </a></li>
                <li> <a href="/reading">
                        <p class="uk-h4 uk-text-normal"> المقرأة </p>
                    </a></li>
                <li> <a href="application-form">
                        <p class="uk-h4 uk-text-normal"> طلب التسجيل </p>
                    </a></li>

            </ul>
        </div>

        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="/"><img src="./static/img/logo-2.png" alt="" height="50"
                    width="50"></a>
        </div>



    </nav>


<div class="uk-container uk-container-small">
    <div class="uk-animation-toggle" tabindex="0">
        <div class="uk-card uk-card-default uk-card-body uk-animation-scale-up uk-transform-origin-top-center">
          <div class="uk-text-center">
            <h6  class="uk-margin-small uk-badge">الوتائق المطلوبة للتسجيل</h6>
            <ul class="uk-list">
                <li> ملئ إستمارة التسجيل و إرسالها عبر البريد الإلكتروني</li>
                <li>
                    <h4 class="uk-text-bolder uk-text-lowercase"> ibnjazaricentre@gmail.com </h4>
                </li>
                <li>نسخة البطاقة الوطنية</li>
                <li></li>
            </ul>
    
	    <h1 class="uk-heading-divider"> </h1>

            <h6 class="uk-margin-small uk-badge">مصارف التسجيل</h6>
            <ul  class="uk-list">
                <li>50 درهم للتسجيل</li>
                <li>100 درهم شهريا بالنسبة للموظفين والعاملين</li>
                <li>50 درهم شهريا بالنسبة للطلبة</li>
                <li>اذا كان في إستطاعتك دفع ثمن سنة كاملة فأفضل</li>
                <li>رقم الحساب البنكي<span class="uk-text-bolder uk-text-upercase" style="color: black;">CIH 230480335229422102840010</span> </li>
                
            </ul>
          </div>
        </div>
    </div>
    

    <div class="uk-margin">
        <form lang="ar" onsubmit="event.preventDefault(), goToPrint()"  enctype="multipart/form-data">
            
            <div class="uk-margin">
                <label class="uk-form-label" for="form-fullname">الإسم الكامل</label>
                <div class="uk-form-controls">
		    <input class="uk-input" id="form-fullname" required maxlength="100" minlength="5"  name="fullName" type="text">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-bdate">تاريخ الميلاد</label>
		<input type="date" class="uk-input uk-width-1-3" placeholder="اختر التاريخ"  
		       name="birthDate" required min="1900-01-01" max="2020-12-31" id="form-birthday">
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-bplace">مكان الميلاد</label>
                <div class="uk-form-controls">
		    <input class="uk-input" id="form-bplace" name="birthPlace" type="text" required maxlength="200" minlength="5">
                </div>

            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-job">المهنة</label>
                <div class="uk-form-controls">
		    <input class="uk-input" id="form-job" name="job" type="text" required maxlength="100" minlength="3">
                </div>

            </div>
      
            <div class="uk-margin">
		<label class="uk-form-label" for="form-edu"> المستوى الدراسي</label>
                <div class="uk-form-controls">
		    <input class="uk-input" id="form-edu" name="educ" type="text" required maxlength="50" minlength="3">
                </div>

            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-address">العنوان</label>
                <div class="uk-form-controls">
		    <input class="uk-input" id="form-address" name="address" type="text" required maxlength="100" minlength="5">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-phone">الهاتف </label>
                <div class="uk-form-controls">
		    <input class="uk-input" id="form-phone" name="phone" type="text" required pattern="^(\\+)?([0-9]){6,13}$" 
		    placeholder="لا يجب أن تتعدى 13 رقم">
                </div>
		
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-cin">رقم البطاقة الوطنية</label>
                <div class="uk-form-controls">
		    <input class="uk-input" id="form-cin" name="cin" type="text" pattern="^([a-zA-z]){1}([0-9]){6}|([a-zA-Z]){2}([0-9]){5}&" required 
		    placeholder="D123456">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-email">البريد الإلكتروني</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-email" name="email" type="email" required 
		    placeholder="user@mail.com">
                </div>
            </div>
        
            <div class="uk-margin">
                <div class="uk-form-label">ما مدى إلمامك بقواعد التجويد؟</div>
                    <select required class="uk-select" id="form-tajweedLevel" name="tajweedLevel">
			<option value="">..........</option>
                        <option value="very null">ضعيف جدا</option>
                        <option value="null">ضعيف</option>
                        <option value="intermediate">متوسط</option>
                        <option value="good">مستحسن</option>
                    </select> 
            </div>
           
        <div class="uk-margin">
	    <div class="uk-form-label"> كم تحفظ من القرآن؟ </div> 
	    <textarea required  class="uk-textarea" rows="3" cols="30" id="hifdAmount" >  
	    </textarea>
        </div>
        <div class="uk-form-label"> لماذا قررت التسجيل في المركز؟</div>
        <div class="uk-margin">
            <textarea required class="uk-textarea" rows="3" cols="30" id="reason">
	    </textarea>
        </div>

        
        <div class="uk-form-label" style="color: rgb(137, 143, 139);"> يجب ان لا يتعدى حجم الصورة 1 ميغا بايت  </div>
        <div class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
                <input required type="file" id="imgName"  accept="image/png, image/jpeg">
                
                <input class="uk-input uk-form-width-medium" type="text" placeholder="أضف الصورة" disabled>
            </div>
        </div>

        <div class="uk-margin">
            <input type="submit" class="uk-button uk-button-primary" value="تأكيد"> 
        </div>

</form>
    </div>
</div>

 <button class="uk-button uk-button-primary	uk-button-small " type="button" uk-toggle="target: #offcanvas-reveal"
        style="position: fixed;
     
     left: -37px;
    top: 232px;
    width: 67px;
    height: 24px;
    z-index: 9999;
    transform: rotate(-89deg);
    transform-origin: top;
    padding-top: 0px;">للتواصل</button>
    <footer class="uk-section uk-section-default uk-section-small">
        <div>

        </div>
        <div class="uk-container">
            <p class="uk-text-small uk-text-center">
                &copy; 2020 مركز ابن الجزري للدراسات والابحاث.
            </p>
        </div>
        <div>

            <div id="offcanvas-reveal" uk-offcanvas="mode: reveal; overlay: true">
                <div class="uk-offcanvas-bar uk-text-center">

                    <button class="uk-offcanvas-close " type="button" uk-close></button>

                    <h3>مرحبا بكم </h3>

                    <p> البريد الإلكتروني<br><span>ibnjazaricentre@gmail.com</span></p>
                    <p>صفحتنا على الفايسبوك<br><a
                            href="https://www.facebook.com/%D9%85%D8%B1%D9%83%D8%B2-%D8%A7%D8%A8%D9%86-%D8%A7%D9%84%D8%AC%D8%B2%D8%B1%D9%8A-%D9%84%D9%84%D8%AF%D8%B1%D8%A7%D8%B3%D8%A7%D8%AA-%D9%88%D8%A7%D9%84%D8%A7%D8%A8%D8%AD%D8%A7%D8%AB-485648608861785/">مركز
                            ابن الجزري للدراسات والابحاث</a></p>
                    <p>الهاتف<br><span>06.40.15.77.30/06.75.45.81.85</span></p>

                </div>
            </div>
        </div>
    </footer>

    <div id="offcanvas-usage" uk-offcanvas>
        <button class="uk-offcanvas-close" type="button" uk-close>close</button>
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-default">
                <li> <a href="/structure">
                        <p class="uk-h4 uk-text-normal"> الهيكل التنفيذي</p>
                    </a> </li>
                <li> <a href="/programme">
                        <p class="uk-h4 uk-text-normal"> المنهاج التكويني </p>
                    </a> </li>
                <li> <a href="/programs">
                        <p> برنامج المرحلة التمهيدية <span>(2019/2020)</span></p>
                    </a> </li>
                <li> <a href="/programs2">برنامج المرحلة التمهيدية <span>(2020/2021)</span></a> </li>
                <li> <a href="/courses">
                        <p class="uk-h4 uk-text-normal"> الدورات </p>
                    </a></li>
                <li> <a href="/announcement">
                        <p class="uk-h4 uk-text-normal"> الإعلانات </p>
                    </a></li>
                <li> <a href="/reading">
                        <p class="uk-h4 uk-text-normal"> المقرأة </p>
                    </a></li>
                <li> <a href="application-form">
                        <p class="uk-h4 uk-text-normal"> طلب التسجيل </p>
                    </a></li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/l10n/ar.js"></script>
    <script>
        const fp = flatpickr("#form-stacked-bdate", {
            "locale": "ar",
            altInput: true,
            altFormat: "j F, Y",
            dateFormat: "Y-m-d"
        });
        var fullName,formBirthday,formJob,formEdu,formAddress,formBplace,formPhone,formCin,formEmail,formTajweedLevel,hifdAmount,reason,imgName;
        
  function retriveData(){
        fullName = document.querySelector("#form-fullname").value;
        formBirthday = document.querySelector("#form-birthday").value;
        formJob = document.querySelector("#form-job").value;
        formAddress = document.querySelector("#form-address").value;
        formEdu = document.querySelector("#form-edu").value;
        formBplace = document.querySelector("#form-bplace").value;
        formPhone = document.querySelector("#form-phone").value;
        formCin = document.querySelector("#form-cin").value;
        formEmail = document.querySelector("#form-email").value;
        formTajweedLevel = document.querySelector("#form-tajweedLevel").value;
        hifdAmount = document.querySelector("#hifdAmount").value;
        reason = document.querySelector("#reason").value;
        imgName = document.querySelector("#imgName").files[0];
    }
	function goToPrint(){
	console.log("shflsdfj");
		const body = document.querySelector("body");
		const child = document.querySelector("#toRemove");
		
		retriveData();
		if(!fullName||
		!formBirthday||
		!formJob||
		!formEdu||
		!formAddress||
		!formBplace||
		!formPhone||
		!formCin||
		!formEmail||
		!formTajweedLevel||
		!hifdAmount||
		!reason||
		!imgName){
		alert('المرجو ملء الاستمارة جيدا');
		return
		}
		
		child.remove();
		var classes = ['uk-container','uk-container-center','uk-maargin-top']
		classes.forEach(element => body.classList.add(element));
		const date = new Date();
		var pageToPrint = `
                  <nav class=" grd-container2 uk-flex uk-flex-center uk-margin-top uk-width-1-1 uk-margin ">
                <div class=" nav-items_img uk-flex-left uk-margin-right"><img class=" nav-items_img uk-flex-left uk-margin-right " src="./static/img/logo-2.png"  alt="مركز ابن الجزري"></div>
                <div class="  uk-margin-left  nav-items"><h2 >مركز ابن الجزري  للدراسات والابحاث</h2></div>
                <div style="position:static" class=" nav-items_square uk-flex-right ">
                    <img class="sora" src="${URL.createObjectURL(imgName)}" alt="الصورة"> 
                </div>
            </nav>   

        <br>

        <div class="first uk-text-right">
            <p class=" uk-text-right"><strong><i> استمارة التسجيل في مركز ابن الجزري  للدراسات والابحاث </i></strong></p>
        </div>

        <div class=" grd-container  uk-margin-top ">
               
            <div class="uk-text-right uk-margin-right">
		    <p> ${fullName} </p>
                </div>

                <div class="uk-text-right">
                     <p>:الإسم الكامل</p>
                </div>

                <div class="uk-text-right uk-margin-right">
		    <p> ${formBirthday} </p>
                </div>
                
                <div class="uk-text-right">
                    <p>:تاريخ الميلاد</p>
                </div>

                <div class="uk-text-right uk-margin-right">
		    <p> ${formBplace} </p>
                </div>

                <div class="uk-text-right ">
                    <p>:مكان الميلاد</p>
                </div>

                <div class="uk-text-right uk-margin-right">
		    <p> ${formEdu} </p>
                </div>

                <div class=" uk-text-right">
                    <p>: المستوى الدراسي</p>
                </div>

                <div class="uk-text-right uk-margin-right">
                    ${formJob}
                </div>
        
                <div class=" uk-text-right">
                    <p>: المهنة</p>
                </div>
        
                <div class="uk-text-right uk-margin-right">
		    <p> ${formAddress} </p>
                </div>

                <div class=" uk-text-right ">
                    <p>:العنوان</p>
                </div>

                <div class="uk-text-right uk-margin-right">
		    <p> ${formPhone} </p>
                </div>

                <div class=" uk-text-right">
                    <p>:الهاتف</p>
                </div>

                <div class="uk-text-right uk-margin-right">
		    <p> ${formCin} </p>
                </div>

                <div class=" uk-text-right">
                    <p>:رقم البطاقة الوطنية</p>
                </div>

                <div class="uk-text-right uk-margin-right">
		    <p> ${formEmail} </p>
                </div>

                <div class=" uk-text-right">
                    <p>:البريد الإلكتروني</p>
                </div>

                <div class="uk-text-right uk-margin-right">
		    <p> ${formTajweedLevel }</p>
                </div>

                <div class=" uk-text-right">
                    <p>:ما مدى إلمامك بقواعد التجويد</p>
                </div>

                <div class="uk-text-right uk-margin-right">
		    <p> ${hifdAmount } </p>
                </div>

                <div class="uk-text-right">
                    <p>:كم تحفظ من القرآن؟</p>
                </div>

                <div class="uk-text-right uk-margin-right">
		    <p> ${reason } </p>
                </div>

                <div class=" uk-text-right">
                   <p >:لماذا قررت التسجيل في المركز؟ </p>
                </div>

                <div class="uk-text-right uk-margin-right">
		    <p> ${date.toLocaleDateString('fr')} </p>
                </div>

                <div class="uk-text-right">
                    <p>:تاريخ ملئ الاستمارة</p>
                </div>

            </div>

            <div class="uk-flex-center uk-flex-column">
                <div class="uk-text-center signature">
                    <p>الامضاء</p>
                </div>
            </div>
            <div class="noprint uk-container uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-margin-bottom uk-width-1-4">
                <button class="uk-button uk-button-danger" onclick="window.print()">
		    تحميل الاستمارة
		</button>
            </div>
		`
		body.innerHTML = pageToPrint;
	}


        </script>
</div>
</body>

</html>

   

