{{ template "base" . }}

{{ define "title" }} 
    مركز ابن الجزري
{{ end }}

{{ define "body" }}
    <div class="uk-container ">
        <div class="uk-container  uk-container-small">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="/static/img/d1.jpg" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-text-center" style="border-bottom:1px solid rgb(99, 179, 231) ;padding-bottom: 5px;"> مخارج الحروف و صفاتها </h3>
                        <p>
                            ينظم  مركز ابن الجزري للدراسات والأبحاث  دورة تكوينية في :<br>
                       
                         </p>
                        <p>   مخارج الحروف و صفاتها من تأطير  الشيخ بوشعيب العربي
                            مجاز بالقراء ات العشر المتواترة و المتون العلمية التجويدية  </p>
                            <div class="uk-text-center" style=" font-weight: 600;">ابتداء ا  من 16/03/2020 إلى 18/05/2020</div>
                            
                    </div>
                </div>
            </div>
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="/static/img/dawra.jpg" alt="" class="d-img" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-text-center" style="border-bottom:1px solid rgb(99, 179, 231) ;padding-bottom: 5px;"> دورة الحفظ </h3>
                        <p class="uk-text-center" >بشرى لأهل القرآن الكريم</p>
                        <p>
                            كيف تحفظ القرآن الكريم في أقل من شهرين بطرق علمية متطورة<br>
                       
                         </p>
                        <p>    من تأطير  الشيخ بوشعيب العربي
                            مجاز بالقراء ات العشر المتواترة و المتون العلمية التجويدية  </p>
                            <div class="uk-text-center" style=" font-weight: 600;">أيام الأحد و الإثنين  08/03/2020 - 
                            09/03/2020<br> من الساعة الرابعة إلى السابعة مساء</div>
                            
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <div class="uk-text-center" style=" font-weight: 600;">
                    
                    
                    <br> 4تجزئة الباتول قرب بريد بنك طريق كلية العلوم الزيتون مكناس 
                   06.40.15.77.30/06.75.45.81.85
                </div>
            </div>
        </div>
        
    </div>
{{ end }}

{{ define "scripts" }} {{ end }}
