{{ template "base" . }}

{{ define "title" }}
مركز ابن الجزري
{{ end }}

{{ define "body" }}
<div class="uk-container ">

    <h1 class="uk-text-center">المنهاج التكويني لمركز ابن الجزري</h1>
    <div class="uk-container uk-container-xsmall uk-text-center">
        <br>المرحلة التمهيدية : سنة واحدة
        <br>المرحلة الأساسية : ثلاث سنوات
        <br> المرحلة التأهيلية : سنتان

    </div>

    <div class="uk-child-width-expand@s uk-text-center uk-margin-top" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-animation-slide-right">
                <h2 style="border-bottom:1px solid rgb(99, 179, 231) ;padding-bottom: 5px;">وحدة العلوم الشرعية</h2>
                <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
                    <div>
                        <h6 class=".uk-border-bottom "
                            style="border-bottom:1px solid rgb(99, 179, 231) ;padding-bottom: 5px;">المحور الأول :
                            العلوم الأساسية</h6>
                        <ul class="uk-list">
                            <li>علوم القرآن</li>
                            <li>علم العد و الأسانيد</li>
                            <li>التفسيرو التدبّر</li>
                            <li>علم الحديث ومصطلحه</li>
                            <li>الفقه و أصوله</li>
                            <li>مناهج البحث في العلوم الشرعية</li>
                        </ul>
                    </div>
                    <div>
                        <h6 class=".uk-border-bottom "
                            style="border-bottom:1px solid rgb(99, 179, 231) ;padding-bottom: 5px;"> المحور الثاني :
                            العلوم المكمّلة</h6>
                        <ul class="uk-list">
                            <li>اللغة العربية وعلومها</li>
                            <li>النحو</li>
                            <li>الصرف</li>
                            <li>البلاغة</li>
                            <li>الأدب العربي</li>

                        </ul>
                    </div>
                    <div>
                        <h6 class=".uk-border-bottom"
                            style="border-bottom:1px solid rgb(99, 179, 231) ;padding-bottom: 5px;">
                            المحور الثالث : العلوم الإضافية
                        </h6>
                        <ul class="uk-list">
                            <li>لغات</li>
                            <li>إعلاميات</li>
                            <li>علم الإتصال والتواصل</li>
                            <li>الثقافة</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-animation-slide-bottom">
                <h2 style="border-bottom:1px solid rgb(99, 179, 231) ;padding-bottom: 5px;">وحدة القراءات</h2>
                <ul class="uk-list uk-list-divider">
                    <li>حفظ القراءات</li>
                    <li>متون القراءات</li>
                    <li>الرسم و الضبط</li>
                </ul>
            </div>
        </div>

    </div>

</div>
{{ end }}

{{ define "scripts" }} {{ end }}