{{ template "base" . }}

{{ define "title" }}
مركز ابن الجزري
{{ end }}

{{ define "body" }}
<div class="uk-container uk-container-small">
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="/static/img/quran.jpg" alt="">
            </div>
            <div class="uk-card-body uk-text-center">
                <h3 class="uk-card-title">بسم الله الرحمن الرحيم</h3>
                <p>تعلن
                    جمعية النور المبين للتربية والتنمية
                    ومركز إبن الجزري للدراسات والأبحاث
                    أنها ستفتح أبوابها لتلقين وتجويد وتحفيظ
                    القرآن الكريم لجميع الفئات العمرية
                    صغارا وكبارا ذكورا وإناثا
                    إبتداء من فاتح شتنبر 2020م</p>
                <h3>للإتصال </h3>
                <ul>
                    <li style="list-style: none;">
                        <img src="/static/img/whatsapp.png" alt="" height="20" width="20">
                        <span>+212658694505 / +212675458185</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "scripts" }} {{ end }}