{{ template "base" . }}

{{ define "title" }} 
    مركز ابن الجزري
{{ end }}

{{ define "body" }}

<div class="uk-container uk-container-small">
    <form action="/application-form" method="POST" novalidate>
            
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-fullname">الإسم الكالمل</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-fullname" name="fullName" type="text">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-bdate">تاريخ الميلاد</label>
                    <input type="date" id="form-stacked-bdate" name="birthDate">
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-bplace">مكان الميلاد</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-bplace" name="birthPlace" type="text">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-edujob">المهنة و المستوى الدراسي</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-edujob" name="educAndJob" type="text">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-address">العنوان</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-address" name="address" type="text">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-phone">الهاتف </label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-phone" name="phone" type="number">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-cin">رقم البطاقة الوطنية</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-cin" name="cin" type="text">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-email">البريد الإلكتروني</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-email" name="email" type="text">
                    </div>
                </div>
            
                <div class="uk-margin">
                    <div class="uk-form-label">ما مدى إلمامك بقواعد التجويد؟</div>
                    <div class="uk-form-controls">
                        <label><input class="uk-radio" type="radio" name="tajweedLevelL"> ضعيف</label><br>
                        <label><input class="uk-radio" type="radio" name="tajweedLevelM"> متوسط</label><br>
                        <label><input class="uk-radio" type="radio" name="tajweedLevelNB"> مستحسن</label><br>
                        <label><input class="uk-radio" type="radio" name="tajweedLevelVL"> ضعيف جدا</label>
                    </div>
                </div>
               
            <div class="uk-margin">
                
                <textarea class="uk-textarea" rows="3" cols="30" placeholder="" name="hifdAmount"></textarea>
            </div>
            <div class="uk-form-label"> لماذا قررت التسجيل في المركز؟</div>
            <div class="uk-margin">
                <textarea class="uk-textarea" rows="3" cols="30" placeholder="" name="reason"></textarea>
            </div>

            
        
            <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                    <input type="file" name="imgName" accept="image/png, image/jpeg">
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="أضف الصورة" disabled>
                </div>
                
            </div>

            <div class="uk-margin">
                <input type="submit" class="uk-button uk-button-primary" value="تأكيد"> 
            </div>
    
    </form>
</div>

{{ end }}