{{ template "base" . }}

{{ define "title" }} 
    مركز ابن الجزري
{{ end }}

{{ define "body" }}

<div class="uk-container uk-container-small">
    <div class="uk-animation-toggle" tabindex="0">
        <div class="uk-card uk-card-default uk-card-body uk-animation-scale-up uk-transform-origin-top-center">
          <div class="uk-text-center">
            <h6  class="uk-margin-small uk-badge">الوتائق المطلوبة للتسجيل</h6>
            <ul class="uk-list">
                <li>ملئ إستمارة التسجيل</li>
                <li>نسخة البطاقة الوطنية</li>
                <li></li>
            </ul>
    
            <h6 class="uk-margin-small uk-badge">مصارف التسجيل</h6>
            <ul  class="uk-list">
                <li>50 درهم للتسجيل</li>
                <li>100 درهم شهريا بالنسبة للموضفين</li>
                <li>50 درهم شهريا بالنسبة للطلاب</li>
                <li>ادا كان في إستطاعتك دفع  تمن سنة كاملة أفضل</li>
            </ul>
          </div>
        </div>
    </div>
    
    <div class="uk-margin">
        <form action="/application-form" enctype="multipart/form-data" method="POST" novalidate>
            
            <div class="uk-margin">
                <label class="uk-form-label" for="form-fullname">الإسم الكامل</label>
                <div class="uk-form-controls">
		    <input class="uk-input" id="form-fullname" name="fullName" type="text" value="{{ .af.FullName }}">
                </div>
		{{ with .errors.Errors.full_name }}
                    {{ range . }}
                        <p class="uk-text-danger"> {{ . }} </p>
                    {{ end }}
                {{ end }}
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-bdate">تاريخ الميلاد</label>
		<input type="text" class="uk-input uk-width-1-3" placeholder="اختر التاريخ" id="form-stacked-bdate" 
		       name="birthDate" value="{{ .af.BirthDate }}">
		{{ with .errors.Errors.birth_date }}
                    {{ range . }}
                        <p class="uk-text-danger"> {{ . }} </p>
                    {{ end }}
                {{ end }}
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-bplace">مكان الميلاد</label>
                <div class="uk-form-controls">
		    <input class="uk-input" id="form-bplace" name="birthPlace" type="text" value="{{ .af.BirthPlace }}">
                </div>
		{{ with .errors.Errors.birth_place }}
                    {{ range . }}
                        <p class="uk-text-danger"> {{ . }} </p>
                    {{ end }}
                {{ end }}
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-edujob">المهنة و المستوى الدراسي</label>
                <div class="uk-form-controls">
		    <input class="uk-input" id="form-edujob" name="educAndJob" type="text" value="{{ .af.EducAndJob }}">
                </div>
		{{ with .errors.Errors.educ_and_job }}
                    {{ range . }}
                        <p class="uk-text-danger"> {{ . }} </p>
                    {{ end }}
                {{ end }}
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-address">العنوان</label>
                <div class="uk-form-controls">
		    <input class="uk-input" id="form-address" name="address" type="text" value="{{ .af.Address }}">
                </div>
		{{ with .errors.Errors.address }}
                    {{ range . }}
                        <p class="uk-text-danger"> {{ . }} </p>
                    {{ end }}
                {{ end }}
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-phone">الهاتف </label>
                <div class="uk-form-controls">
		    <input class="uk-input" id="form-phone" name="phone" type="text" value="{{ .af.Phone }}" 
		    placeholder="لا يجب أن تتعدى 13 رقم">
                </div>
		{{ with .errors.Errors.phone }}
                    {{ range . }}
                        <p class="uk-text-danger"> {{ . }} </p>
                    {{ end }}
                {{ end }}
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-cin">رقم البطاقة الوطنية</label>
                <div class="uk-form-controls">
		    <input class="uk-input" id="form-cin" name="cin" type="text" value="{{ .af.Cin }}" 
		    placeholder="D123456">
                </div>
		{{ with .errors.Errors.cin }}
                    {{ range . }}
                        <p class="uk-text-danger"> {{ . }} </p>
                    {{ end }}
                {{ end }}
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-email">البريد الإلكتروني</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-email" name="email" type="text" value="{{ .af.Email }}" 
		    placeholder="user@mail.com">
                </div>
		{{ with .errors.Errors.email }}
                    {{ range . }}
                        <p class="uk-text-danger"> {{ . }} </p>
                    {{ end }}
                {{ end }}
            </div>
        
            <div class="uk-margin">
                <div class="uk-form-label">ما مدى إلمامك بقواعد التجويد؟</div>
                <div class="uk-form-controls">
                    <label><input class="uk-radio" type="radio" value="1" 
				  {{ if .af.TajweedLevel }} {{ if eq .af.TajweedLevel "1" }} checked {{ end }} {{ end }} 
				  name="tajweedLevel" > ضعيف جدا</label><br>
		    <label><input class="uk-radio" type="radio" value="2" 
				  {{ if .af.TajweedLevel }} {{ if eq .af.TajweedLevel "2" }} checked {{ end }} {{ end }} 
				  name="tajweedLevel" >  ضعيف </label><br>
                    <label><input class="uk-radio" type="radio" value="3"
				  {{ if .af.TajweedLevel }} {{ if eq .af.TajweedLevel "3" }} checked {{ end }} {{ end }} 
				  name="tajweedLevel" > متوسط</label><br>
                    <label><input class="uk-radio" type="radio" value="4" 
				  {{ if .af.TajweedLevel }} {{ if eq .af.TajweedLevel "4" }} checked {{ end }} {{ end }} 
				  name="tajweedLevel" > مستحسن</label>
                </div>
		{{ with .errors.Errors.tajweed_level }}
                    {{ range . }}
                        <p class="uk-text-danger"> {{ . }} </p>
                    {{ end }}
                {{ end }}
            </div>
           
        <div class="uk-margin">
	    <div class="uk-form-label"> كم تحفظ من القرآن؟ </div> 
	    <textarea class="uk-textarea" rows="3" cols="30" name="hifdAmount" > 
		{{ .af.HifdAmount }} 
	    </textarea>
		{{ with .errors.Errors.hifd_amount }}
                    {{ range . }}
                        <p class="uk-text-danger"> {{ . }} </p>
                    {{ end }}
                {{ end }}
        </div>
        <div class="uk-form-label"> لماذا قررت التسجيل في المركز؟</div>
        <div class="uk-margin">
            <textarea class="uk-textarea" rows="3" cols="30" name="reason">
		{{ .af.Reason }}
	    </textarea>
		{{ with .errors.Errors.reason }}
                    {{ range . }}
                        <p class="uk-text-danger"> {{ . }} </p>
                    {{ end }}
                {{ end }}
        </div>

        
    
        <div class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
                <input type="file" name="imgName" accept="image/png, image/jpeg">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="أضف الصورة" disabled>
            </div>
		{{ with .errors.Errors.img_name }}
                    {{ range . }}
                        <p class="uk-text-danger"> {{ . }} </p>
                    {{ end }}
                {{ end }}
        </div>

        <div class="uk-margin">
            <input type="submit" class="uk-button uk-button-primary" value="تأكيد"> 
        </div>

</form>
    </div>
</div>

{{ end }}

{{ define "scripts" }}
    <script>
	const fp = flatpickr("#form-stacked-bdate", {
	    "locale": "ar",
	    altInput: true,
	    altFormat: "j F, Y",
	    dateFormat: "Y-m-d"
	}); 
    </script>
{{ end }}
