{{ template "base" . }}

{{ define "title" }} 
    مركز ابن الجزري
{{ end }}

{{ define "body" }}
    <div class="uk-container uk-inline">
        <img src="/static/img/cover100.jpg" alt="">
    </div>

    <div class="uk-container uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-margin">
        <h1 class="uk-heading-small"> من نحن </h1>
        <p class="uk-h4">
            مركز ابن الجزري للدراسات والأبحاث مركز علمي تربوي بحثي مستقل يعنى بالقرآن الكريم وعلومه والقراءات وما يتعلق بهما من متون <br> - قراءة ورسما وضبطا وفواصل ووقفا وابتدءا ’ كما يهتم بالقضايا العلمية والفكرية
        </p>

        <ul uk-accordion="collapsible: false">
            <li>
                <a class="uk-accordion-title" href="#"> رسالتنا </a>
                <div class="uk-accordion-content">
                    <p>- الإسهام في إعداد جيل من القراء المهرة المتقنين الذين تتحقق فيهم جانب الرواية والدراية.
                        - ربط الناس بكتاب الله وتقوية الصلة به.</p>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#"> رؤيتنا </a>
                <div class="uk-accordion-content">
                    <p> النهوض بعلم القراءات والعمل على إحيائه والاهتمام به ونشره بين طلبة العلم عامة وطلبة القرآن خاصة وكافة شرائح المجتمع. </p>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#"> أهدافنا </a>
                <div class="uk-accordion-content">
                    <p>
                        <span>
                        - إحياء سنة الإقراء علما وتعلما وعملا وتدبرا وتزكية في علم القراءات القرآنية ( وخاصة الطرق العشر للإمام نافع و الشاطبية و الدرة ). 
                        <br>
                        - بث روح جديدة في القيم الإنسانية الفضيلة وترسيخها.
                        <br>
                        - تعميق الدراسة والبحث في التراث الفكري والعلمي للعلماء المغاربة والمشارقة والعناية بمخطوطاتهم في علم القراءات والرسم والضبط.
                        <br>
                        - إعداد وتخريج حفاظفي علم القراءات القرآنية المتواترة بالسند المتصل إلى سيدنا محمد صلى الله عليه وسلم.
                        <br>
                        - دورات تكوينية في المتون العلمية والشرعية . 
                    </p>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#"> من مشاريعنا </a>
                <div class="uk-accordion-content">
                    <p> 
                        <span class="uk-text-primary">
                        مشروع قراء متميزين بالسند المتصل إلى رسول الله صلى الله عليه وسلم يهدف هذا المشروع إلى:
                        </span>
                        <br>
- تكوين وتخريج طلبة ضابطين ومتمكنين في عدد من الروايات ومجازين في القراءة والإقراء.
<br>
- تقريب تناول القراءات وعلومها للراغبين والمتأهلين غير المتفرغين من داخل المغرب وخارجه " التكوين عن بعد " .
<br>
- إحياء دراسة وتحقيق تراث أعلام مكناس.
                    </p>
                    <p>
                        <span class="uk-text-primary">
                        المشروع العلمي:
                        </span>
                        <br>
-مؤتمر دولي عن القراءات العشر وأعلام الأمة في القراءات كل سنة.
<br>
-مسابقة دولية حول أجود البحوث والدراسات المرتبطة بالقراءات والقرآنالكريم وعلومه.
<br>
-ترجمة المواد المتميزة التعريفية بالقراءات وعلوم القرآن الكريم إلى اللغات الأجنبية.
<br>
-إصدار مجلة علمية متخصصة محكمة تعنى بالقرآن الكريم وعلومه.
<br>
-انشاء مكتبة شاملة لإبراز الكتب والدراسات المرتبطة بالقرآن الكريم والقراءات.
<br>
-طباعة وإصدار بحوث ودراسات متخصصة بالقرآن الكريم وعلومه.
                    </p>
                    <p>
                        <span class="uk-text-primary">
                        المشروع الإعلامي والفني: 
                        </span>
                        <br>
-مواقع التعريف بالقراءات ( موقع الكتروني بمختلف اللغات- قناة على اليوتوب ).
<br>
-إنشاء مؤسسة للإنتاج السمعي البصري والفني المرتبط بالقرآن الكريم وعلومه ( برامج للإعلام’ القراءات ......).
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="uk-container ">
        <div class="uk-container uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-margin">
            <h1 class="uk-heading-small "> إصدارات المركز</h1>
        </div>
        
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

            <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid">
                <li>
                    <div class="uk-panel">
                        <img src="/static/img/books/1.jpg" alt="">
                        <div class="uk-position-center uk-panel"></div>
                    </div>
                </li>
                <li>
                    <div class="uk-panel">
                        <img src="/static/img/books/2.jpg" alt="">
                        <div class="uk-position-center uk-panel"></div>
                    </div>
                </li>
                <li>
                    <div class="uk-panel">
                        <img src="/static/img/books/3.jpg" alt="">
                        <div class="uk-position-center uk-panel"></div>
                    </div>
                </li>
                
            </ul>
        
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
        </div>
    </div>
{{ end }}

{{ define "scripts" }} {{ end }}
