{{ template "base" . }}

{{ define "title" }}
مركز ابن الجزري
{{ end }}

{{ define "body" }}
<div class="uk-container">
    <div>
        <p class="uk-padding uk-text-center">
            <span>بسم الله الرحمن الرحيم</span><br>
            يفتح مركز ابن الجزري للدراسات و الأبحاث أبوابه للتسجيل في المرحلة التمهيدية للتكوين الخاص بالعالمية في
            القراءات, سيبدأ التكوين يوم "الثلاثاء 22/09/2020 م -الموافق ل1442/2/4ه"و ذلك حسب البرنامج التالي :
            <br><span style="color: blue;">*للإشارة *هذا البرنامج للدراسة عن بعد</span>
            سارعوا بالتسجيل،
        </p>
    </div>
    <div class="uk-animation-shake uk-animation-reverse">
        <img src="/static/img/program2.jpg">
    </div>
</div>
{{ end }}

{{ define "scripts" }} {{ end }}