{{ template "base" . }}

{{ define "title" }} 
    مركز ابن الجزري
{{ end }}

{{ define "body" }}
    <div class="uk-container">
        <div >
            <p class="uk-padding uk-text-center">
                                   <span >بسم الله الرحمن الرحيم</span><br>
                    يفتح مركز ابن الجزري للدراسات و الأبحاث أبوابه للتسجيل في المرحلة التمهيدية للتكوين الخاص بالعالمية في القراءات, سيبدأ التكوين إنطلاقا من الأسبوع المقبل و ذلك حسب البرنامج التالي :
                    *للإشارة *سيعلن المركز لاحقا عن مواد إضافية خاصة بالتكوين
                    سارعوا بالتسجيل،
            </p>
        </div>
        <div>
            <img src="/static/img/program.jpg">
        </div>
    </div>
{{ end }}