{{ template "base" . }}

{{ define "title" }} 
    مركز ابن الجزري
{{ end }}

{{ define "body" }}
    <div class="uk-container ">
        
            
            <div class="uk-container uk-container-xsmall uk-text-center">
                تبتدأ المقرأة في أول شهر شعبان و تهدف إلى إحياء سنة الإقراء و تصحيح التلاوة و القراءة و الحصول على إجازة بالسند المتصل إلى رسول الله صلى الله عليه و سلم

            </div>

            <div class="uk-child-width-expand@s uk-text-center uk-margin-top" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-right">
                        <h2 style="border-bottom:1px solid rgb(99, 179, 231) ;padding-bottom: 5px;">المقرأة</h2>
                        <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
                            <div>
                                <h6 class=".uk-border-bottom " style="border-bottom:1px solid rgb(99, 179, 231) ;padding-bottom: 5px;">شروطها</h6>
                                <ul class="uk-list">
                                    <li>حفظ كتاب الله عز وجل كاملا أو بعضه</li>
                                    <li>ضبط و إتقان قواعد  التجويد</li>
                                    <li>حفظ متون فروع المقرأة</li>
                                    <li>فرع قراءة نافع : متن الدرر اللوامع في قراءة نافع</li>
                                    <li>فرع القراءات السبع : متن الشاطبية</li>
                                    <li>فرع المتممة للعشرة متن الدرة في القراء ات الثلاث </li>
                                    <li>فرع الطرق العشرة للإمام نافع : متن تفصيل عقد الدرر في الطرق العشر لابن غازي المكناسي</li>
                                    <li>المواظبة على الحضور</li>
                                </ul>
                            </div>
                            <div>
                                <h6 class=".uk-border-bottom " style="border-bottom:1px solid rgb(99, 179, 231) ;padding-bottom: 5px;">أهدافها</h6>
                                <ul class="uk-list">
                                    <li>تقريب تناول القراء ات وقلومها للراغبين و المتأهلين غير المتفرغين من داخل المغرب و خارجه (التكوين عن بعد )</li>
                                    <li>توسيع دائرة التلقي و الإسناد</li>
                                    <li>تخريج طلبة ضابطين و متمكنين في عدد من الروايات ومجازين في القراءة و الإقراء</li>
                                    
                                    
                                </ul>
                            </div>
                            <div>
                                <h6 class=".uk-border-bottom" style="border-bottom:1px solid rgb(99, 179, 231) ;padding-bottom: 5px;">
                                    الفئة المستهدفة
                                    </h6>
                                <ul class="uk-list">
                                    <li>حفظة القرآن الكريم</li>
                                    <li>أئمة المساجد</li>
                                    <li>تلاميذ التعليم العمومي</li>
                                    <li>طلبة التعليم العتيق</li>
                                    <li>طلبة الجامعات و المعاهد</li>
                                    <li>جميع شرائح المجتمع</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        
    </div>
{{ end }}

{{ define "scripts" }} {{ end }}
